body {
text-align: center;
font-family: Verdana;
}


label {
color: #342a7f;
}


input {
padding: 12px 16px;
background: #ffffff;
border: 2px solid #dcdbdd;
border-radius: 4px;
}


button {
padding: 12px 16px;
margin: 5px 0px 0px 0px;
background: #3a6da7;
border-radius: 12px;
}
button:hover {
    background-color: #2d5078;
    transform: translateY(-2px);
}